@font-face {
  font-family: 'SFProLight';
  src: url('../../iphone-calculator/asset/font/SFProFonts/SF-Pro.ttf')
    format('truetype');
}

/*
//
// RESET
//
*/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'SFProLight', sans-serif;
  background-color: black;
  color: white;
  --text-color-white: white;
  --text-color-black: black;
  --secondary-color: #a5a5a5;
  --primary-color: #333333;
  --highlight-color: #ff9f0a;
}

button {
  font-family: 'SFProLight';
  font-size: 2rem;
  border: 0;
}

/*
//
// Mobile Basic Calculators
//
*/

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  width: 354px;
  height: 590px;
  border: 2px solid white;
  border-radius: 2%;
}

.calculator__inner {
  display: grid;
  padding: 0px 10px 10px 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.5fr;
  gap: 7px 0px;
  grid-template-areas:
    'calculator__displays'
    'calculator__buttons';
}

.calculator__displays {
  padding-top: 20px;
  display: grid;
  font-family: 'SFProLight', sans-serif;
  font-weight: 200;
  justify-items: end;
  height: 150px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.7fr;
  grid-template-areas:
    'after_cal'
    'display';
  grid-area: calculator__displays;
}
.calculator__displays__after {
  grid-area: after_cal;
  font-size: 2rem;
  color: #999898;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 26px;
}
.calculator__display__current {
  font-size: 4rem;
  grid-area: display;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 26px;
}
.calculator__displays__current:after {
  content: '';
}

.para-unactive::after {
  content: ')';
  color: #999898;
}

.calculator__buttons {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    'clear absolute percent divide'
    'seven eight nine multiply'
    'four five six minus'
    'one two three plus'
    'zero zero dot equal';
  grid-area: calculator__buttons;
}

.calculator__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0;
  width: 70px;
  height: 70px;
}

.calculator__button--state-primary:active {
  background-color: #585757;
}
.calculator__button--state-secondary:active {
  background-color: #c7c7c7;
}
.calculator__button--state-highlight:active {
  background-color: #febf60;
}

.calculator__button--state-highlight .is-depressed {
  background-color: var(--text-color-white);
  color: var(--highlight-color);
}
.calculator__button--state-primary {
  color: var(--text-color-white);
  background-color: var(--primary-color);
}

.calculator__button--state-secondary {
  color: var(--text-color-black);
  font-family: 'SFProLight', sans-serif;
  font-weight: 500;
  background-color: var(--secondary-color);
}

.calculator__button--state-highlight {
  color: var(--text-color-white);
  font-family: 'SFProLight', sans-serif;
  font-size: 3rem;
  background-color: var(--highlight-color);
}

.calculator__button--desktop {
  display: none;
}

/*
//
// TODO: Scientific Calculator
//
*/

@media (min-width: 1025px) {
  .calculator__button--desktop {
    display: block;
  }
  .calculator {
    width: 1054px;
    height: 590px;
  }
  .calculator__displays {
    display: grid;
    font-family: 'SFProLight', sans-serif;
    font-weight: 200;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      '.'
      'display';
    grid-area: calculator__displays;
  }
  .calculator__buttons {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      '. . . . . . clear absolute percent divide'
      '. . . . . . seven eight nine multiply'
      '. . . . . . four five six minus'
      '. . . . . . one two three plus'
      '. . . . . . zero zero dot equal';
    grid-area: calculator__buttons;
  }
  .calculator__button {
    width: 84px;
    border-radius: 63px 63px 63px 63px;
    -webkit-border-radius: 63px 63px 63px 63px;
    -moz-border-radius: 63px 63px 63px 63px;
  }
  .calculator__button--desktop {
    font-size: 1.5rem;
  }
  .calculator__button--zero {
    width: 95%;
  }
}

/*
//
// GRID AREA SETUP
//
*/

.calculator__button--clear {
  grid-area: clear;
}
.calculator__button--percent {
  grid-area: percent;
}
.calculator__button--divide {
  grid-area: divide;
}
.calculator__button--absolute {
  position: relative;
  grid-area: absolute;
}
.calculator__button--absolute::after {
  content: '-';
  position: absolute;
  font-size: 1.8rem;
  transform: translate(120%, 62%);
  bottom: 50%;
  right: 50%;
}
.calculator__button--absolute::before {
  content: '+';
  position: absolute;
  font-size: 1.2rem;
  transform: translate(-120%, -80%);
  top: 50%;
  left: 50%;
}

.calculator__button--seven {
  grid-area: seven;
}
.calculator__button--eight {
  grid-area: eight;
}
.calculator__button--nine {
  grid-area: nine;
}
.calculator__button--multiply {
  grid-area: multiply;
}

.calculator__button--four {
  grid-area: four;
}
.calculator__button--five {
  grid-area: five;
}
.calculator__button--six {
  grid-area: six;
}
.calculator__button--minus {
  grid-area: minus;
}

.calculator__button--one {
  grid-area: one;
}
.calculator__button--two {
  grid-area: two;
}
.calculator__button--three {
  grid-area: three;
}
.calculator__button--add {
  grid-area: plus;
}

.calculator__button--zero {
  grid-area: zero;
  display: flex;
  padding-left: 16%;
  justify-content: start;
  border-radius: 65px 65px 65px 65px;
  -webkit-border-radius: 65px 65px 65px 65px;
  -moz-border-radius: 65px 65px 65px 65px;
  width: 100%;
}
.calculator__button--dot {
  grid-area: dot;
}
.calculator__button--equal {
  grid-area: equal;
}
